@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Joel Hilton Film Collection</h1><br />
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <p>Joel Hilton Himself</p>
</div>

