@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>This page is all about podcasts</p>
<p>
    Be sure to check
    <a href="https://baconsale.com/" target="_blank">this site</a>
    out!
</p>

